/*
span.noq   { font-weight:bold; padding-left:5px; border-left:5px solid red; }
span.autoq { font-weight:bold; padding-left:5px; border-left:5px solid #A27AFE; }
span.userq { font-weight:bold; padding-left:5px; border-left:5px solid green; }
.user_match { font-size:8pt; }
input.set_q { font-size:8pt; display:inline; }

a.green { color:green; }
a.red { color:red; }

a.wiki { color:#62A9FF }
a.wikidata { color:#2966B8 }
a.external { color:#1FCB4A }

.qdesc {
	color:#BBBBBB;
	font-size:9pt !important;
}
*/

.searchmatch {
	font-weight: bold; 
}

.catalogleft {
	margin-left:10px;
}

.catalogleft:hover {
	margin-left:0px;
	border-left:10px solid blue;
}

td.num { text-align:right; font-family:Courier; font-size:11pt; }

td.catalog_row_left {
	width:100%;
}

.catalog_no_prop {
	border-left:5px solid #FF8A8A;
}